.card-grid {
  display: grid;
  gap: 20px;
}

/* fix padding-bottom rendering on grid: */
.card-grid > *:last-child:after {
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.card {
  background: var(--main-bg);
  position: relative;
}

.card__bookmark-icon {
  position: absolute;
  right: 20px;
  top: -10px;
  width: 40px;
}

.card__bookmark-icon--active {
  fill: currentColor;
}

.card__headline {
  font-size: 20px;
}

.card__text {
  font-size: 16px;
  font-weight: 300;
}
