.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tag-list > li {
  background-color: white;
  border: 1px dotted black;
  font-size: 14px;
  font-weight: 700;
  text-transform: lowercase;
  padding: 5px 10px;
}
